{% extends 'base.html' %}
{% block title %}Contacto{% endblock %}
{% block content %}
<h2 class="page-title">Contacto</h2>
<p>
  <strong>Correo:</strong> <a href="mailto:{{ info.correo }}">{{ info.correo }}</a><br/>
  <strong>Teléfono:</strong> <a href="tel:{{ info.telefono }}">{{ info.telefono }}</a>
</p>
<div class="social">
  <a class="btn" target="_blank" href="{{ info.instagram }}">Instagram</a>
  <a class="btn" target="_blank" href="{{ info.facebook }}">Facebook</a>
  <a class="btn" target="_blank" href="{{ info.whatsapp }}">WhatsApp</a>
  </div>
{% endblock %}


